h2{
    text-align: center;
    background-color: grey;
    padding: 20px;
    border-radius: 20px;
}
.bg{
    background-color: aliceblue;
}
.pd{
    text-align: center;
}
.table{
    margin: 100px;
}