h1{
    text-align: center;
    background-color: rgb(53, 81, 94);
    padding: 20px;
    border-radius: 20px;
    text-shadow: 2px 2px 4px #223344;
      
}
.bg{
    background-color: lightblue;
    border-radius: 20px;
}

.table{
    margin: 100px;
}